h1 {
    text-align: center; color:crimson;
    background-color:yellow;
  }
#card0{
background-color:greenyellow;
padding: 30px;
height: 400px;
width: 520px;
border: 2px solid black;
margin: 20px;

}
#card1{
  background-color:aqua;
  padding: 30px;
  height: 400px;
  width: 520px;
  border: 2px solid black;
  margin: 20px; 
  }
  #card2{
    background-color:lightsalmon;
    padding: 30px;
    height: 400px;
    width: 520px;
    border: 2px solid black;
    margin: 20px; 
    }
    #card3{
      background-color:dimgrey;
      padding: 30px;
      height: 400px;
      width: 520px;
      border: 2px solid black;
      margin: 20px; 
      }
      #card4{
        background-color:lightcoral;
        padding: 30px;
        height: 400px;
        width: 520px;
        border: 2px solid black;
        margin: 20px; 
        }
        #card5{
          background-color:turquoise;
          padding: 30px;
          height: 400px;
          width: 520px;
          border: 2px solid black;
          margin: 20px; 
          }
          #card6{
            background-color:lightyellow;
            padding: 30px;
            height: 400px;
            width: 520px;
            border: 2px solid black;
            margin: 20px; 
            }
            #card7{
              background-color:palegreen;
              padding: 30px;
              height: 400px;
              width: 520px;
              border: 2px solid black;
              margin: 20px; 
              }
              #card8{
                background-color:aquamarine;
                padding: 30px;
                height: 400px;
                width: 520px;
                border: 2px solid black;
                margin: 20px; 
                }
                #card9{
                  background-color:deeppink;
                  padding: 30px;
                  height: 400px;
                  width: 520px;
                  border: 2px solid black;
                  margin: 20px; 
                  }
                  #card10{
                    background-color:rosybrown;
                    padding: 30px;
                    height: 400px;
                    width: 520px;
                    border: 2px solid black;
                    margin: 20px; 
                    }
                    #card11{
                      background-color:plum;
                      padding: 30px;
                      height: 400px;
                      width: 520px;
                      border: 2px solid black;
                      margin: 20px; 
                      }
                      #card12{
                        background-color:aqua;
                        padding: 30px;
                        height: 400px;
                        width: 520px;
                        border: 2px solid black;
                        margin: 20px; 
                        }
                        #card13{
                          background-color:springgreen;
                          padding: 30px;
                          height: 400px;
                          width: 520px;
                          border: 2px solid black;
                          margin: 20px; 
                          }
                          #card14{
                            background-color:gray;
                            padding: 30px;
                            height: 400px;
                            width: 520px;
                            border: 2px solid black;
                            margin: 20px; 
                            }
                            #card15{
                              background-color:thistle;                              padding: 30px;
                              height: 400px;
                              width: 520px;
                              border: 2px solid black;
                              margin: 20px; 
                              }
                              #card16{
                                background-color:aquamarine;
                                padding: 30px;
                                height: 400px;
                                width: 520px;
                                border: 2px solid black;
                                margin: 20px; 
                                }
                                #card17{
                                  background-color:teal;
                                  padding: 30px;
                                  height: 400px;
                                  width: 520px;
                                  border: 2px solid black;
                                  margin: 20px; 
                                  }
                                  #card18{
                                    background-color:coral;
                                    padding: 30px;
                                    height: 400px;
                                    width: 520px;
                                    border: 2px solid black;
                                    margin: 20px; 
                                    }
                                    #card19{
                                      background-color:violet;
                                      padding: 30px;
                                      height: 400px;
                                      width: 520px;
                                      border: 2px solid black;
                                      margin: 20px; 
                                      }
                                      

